Django
djangorestframework
Pillow
python-magic
django-filter
django-cors-headers
psutil
redis
django-prometheus
django-health-check
django-debug-toolbar
gunicorn
pytest
pytest-django
model-bakery
dj-database-url
whitenoise
psycopg2-binary
django-storages
boto3
python-dotenv
