openapi: 3.0.3
info:
  title: Practika API
  description: API for Practika fitness application
  version: 1.0.0
  contact:
    name: Practika Team
    email: api@practika.com

servers:
  - url: https://api.practika.com/v1
    description: Production server
  - url: https://dev-api.practika.com/v1
    description: Development server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        profile:
          $ref: '#/components/schemas/UserProfile'
        date_joined:
          type: string
          format: date-time

    UserProfile:
      type: object
      properties:
        id:
          type: integer
        bio:
          type: string
        profile_picture:
          type: string
        date_of_birth:
          type: string
          format: date
        height_cm:
          type: integer
        weight_kg:
          type: number
        fitness_level:
          type: string
          enum: [beginner, intermediate, advanced]

    Moment:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        category:
          $ref: '#/components/schemas/Category'
        difficulty_level:
          type: string
          enum: [beginner, intermediate, advanced]
        equipment_needed:
          type: array
          items:
            type: string
        muscle_groups:
          type: array
          items:
            type: string
        instructions:
          type: string
        tips:
          type: string
        created_by:
          $ref: '#/components/schemas/User'
        is_public:
          type: boolean
        videos:
          type: array
          items:
            $ref: '#/components/schemas/MomentVideo'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        created_at:
          type: string
          format: date-time

    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        icon:
          type: string
        color:
          type: string

    MomentVideo:
      type: object
      properties:
        id:
          type: integer
        video_file:
          type: string
        thumbnail:
          type: string
        duration_seconds:
          type: integer
        file_size_bytes:
          type: integer
        s3_key:
          type: string
        created_by:
          $ref: '#/components/schemas/User'
        created_at:
          type: string
          format: date-time

    Tag:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string

    VideoAnnotation:
      type: object
      properties:
        id:
          type: integer
        moment_video:
          $ref: '#/components/schemas/MomentVideo'
        user:
          $ref: '#/components/schemas/User'
        annotation_type:
          type: string
        timestamp_start:
          type: number
        timestamp_end:
          type: number
        content:
          type: string
        coordinates:
          type: object
        is_public:
          type: boolean
        created_at:
          type: string
          format: date-time

    Playlist:
      type: object
      properties:
        id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        title:
          type: string
        notes:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        total_duration_minutes:
          type: integer
        moments:
          type: array
          items:
            $ref: '#/components/schemas/PlaylistMoment'
        created_at:
          type: string
          format: date-time

    PlaylistMoment:
      type: object
      properties:
        id:
          type: integer
        moment:
          $ref: '#/components/schemas/Moment'
        sets:
          type: integer
        reps:
          type: integer
        duration_seconds:
          type: integer
        weight_kg:
          type: number
        order_index:
          type: integer
        notes:
          type: string

    UserProgress:
      type: object
      properties:
        id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        moment:
          $ref: '#/components/schemas/Moment'
        date:
          type: string
          format: date
        sets:
          type: integer
        reps:
          type: integer
        weight_kg:
          type: number
        duration_seconds:
          type: integer
        notes:
          type: string

    PresignedUploadResponse:
      type: object
      properties:
        upload_url:
          type: string
        fields:
          type: object
        expires_in:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

paths:
  /auth/register/:
    post:
      summary: Register a new user
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login/:
    post:
      summary: Login user
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh/:
    post:
      summary: Refresh access token
      tags: [Authentication]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
        '401':
          description: Invalid refresh token

  /users/me/:
    get:
      summary: Get current user profile
      tags: [Users]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized

    put:
      summary: Update current user profile
      tags: [Users]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfile'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'

  /moments/:
    get:
      summary: List moments
      tags: [Moments]
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: integer
        - name: difficulty
          in: query
          schema:
            type: string
            enum: [beginner, intermediate, advanced]
        - name: search
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of moments
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type: string
                  previous:
                    type: string
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Moment'

    post:
      summary: Create a new moment
      tags: [Moments]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, description]
              properties:
                title:
                  type: string
                description:
                  type: string
                category_id:
                  type: integer
                difficulty_level:
                  type: string
                  enum: [beginner, intermediate, advanced]
                equipment_needed:
                  type: array
                  items:
                    type: string
                muscle_groups:
                  type: array
                  items:
                    type: string
                instructions:
                  type: string
                tips:
                  type: string
                is_public:
                  type: boolean
      responses:
        '201':
          description: Moment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Moment'

  /moments/{moment_id}/:
    get:
      summary: Get moment details
      tags: [Moments]
      security:
        - BearerAuth: []
      parameters:
        - name: moment_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Moment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Moment'

    put:
      summary: Update moment
      tags: [Moments]
      security:
        - BearerAuth: []
      parameters:
        - name: moment_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Moment'
      responses:
        '200':
          description: Moment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Moment'

    delete:
      summary: Delete moment
      tags: [Moments]
      security:
        - BearerAuth: []
      parameters:
        - name: moment_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Moment deleted successfully

  /moments/{moment_id}/videos/:
    post:
      summary: Upload moment video
      tags: [Moments]
      security:
        - BearerAuth: []
      parameters:
        - name: moment_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                video_file:
                  type: string
                  format: binary
                thumbnail:
                  type: string
                  format: binary
      responses:
        '201':
          description: Video uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MomentVideo'

  /upload/presigned-url/:
    post:
      summary: Get presigned URL for file upload
      tags: [Upload]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [file_name, file_type]
              properties:
                file_name:
                  type: string
                file_type:
                  type: string
                file_size:
                  type: integer
      responses:
        '200':
          description: Presigned URL generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUploadResponse'

  /annotations/:
    get:
      summary: List video annotations
      tags: [Annotations]
      security:
        - BearerAuth: []
      parameters:
        - name: video_id
          in: query
          schema:
            type: integer
        - name: annotation_type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of annotations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VideoAnnotation'

    post:
      summary: Create video annotation
      tags: [Annotations]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [exercise_video_id, annotation_type, content]
              properties:
                exercise_video_id:
                  type: integer
                annotation_type:
                  type: string
                timestamp_start:
                  type: number
                timestamp_end:
                  type: number
                content:
                  type: string
                coordinates:
                  type: object
                is_public:
                  type: boolean
      responses:
        '201':
          description: Annotation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoAnnotation'

  /playlists/:
    get:
      summary: List playlists
      tags: [Playlists]
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of playlists
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Playlist'

    post:
      summary: Create playlist
      tags: [Playlists]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                notes:
                  type: string
                moments:
                  type: array
                  items:
                    type: object
                    properties:
                      moment_id:
                        type: integer
                      sets:
                        type: integer
                      reps:
                        type: integer
                      duration_seconds:
                        type: integer
                      weight_kg:
                        type: number
                      order_index:
                        type: integer
                      notes:
                        type: string
      responses:
        '201':
          description: Playlist created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'

  /playlists/{playlist_id}/:
    get:
      summary: Get playlist details
      tags: [Playlists]
      security:
        - BearerAuth: []
      parameters:
        - name: playlist_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Playlist details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'

  /progress/:
    get:
      summary: List user progress
      tags: [Progress]
      security:
        - BearerAuth: []
      parameters:
        - name: moment_id
          in: query
          schema:
            type: integer
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of progress entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserProgress'

    post:
      summary: Record progress
      tags: [Progress]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [moment_id, date]
              properties:
                moment_id:
                  type: integer
                date:
                  type: string
                  format: date
                sets:
                  type: integer
                reps:
                  type: integer
                weight_kg:
                  type: number
                duration_seconds:
                  type: integer
                notes:
                  type: string
      responses:
        '201':
          description: Progress recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProgress'

  /categories/:
    get:
      summary: List moment categories
      tags: [Categories]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'

  /tags/:
    get:
      summary: List moment tags
      tags: [Tags]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'

  /health/:
    get:
      summary: Health check endpoint
      tags: [Health]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: "1.0.0"
